version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    working_dir: /app
    command: npm run dev -- --host
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "3001:3001"
    env_file:
      - ./backend/.env
    depends_on:
      - mlserver
      - geofence

  mlserver:
    build:
      context: ./backend/model/cropDisease
    ports:
      - "8001:8001"

  geofence:
    build:
      context: ./backend/gps
    ports:
      - "8000:8000"

  cropprediction:
    build:
      context: ./backend/model/cropYield
    ports:
      - "8002:8002"
